* {
    margin: 0px;
    padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    --color-principal: rgb(208, 231, 208);
    --color-secundario: rgb(34, 25, 57);
    --color-acento: white;
    --color-texto: #707070;
    --color-transparente: linear-gradient(to top right, rgba(208, 231, 208, 0.75), rgba(208, 231, 208, 0.75));

    background-color: #F0F7F0;

    font-family: "Open Sans", sans-serif;

    font-size: 10px;

}

h1, h2, h3 {
    font-weight: 500;
    color: var(--color-texto);
    text-align: center;
}

p {
    font-weight: 300;
    color: var(--color-texto);
    font-size: 1rem;
}

/*Estilos de barra de navegaci칩n*/
nav {
    background-color: var(--color-acento);
    height: 10vh;
    padding: 0px 0px 0px 35px;
    color: var(--color-texto);

    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    position: sticky;
    top: 0;

    ul {
        display: flex;
        list-style: none;
    }

    li a {
        padding: 100px 35px;
        color: var(--color-texto);
        text-decoration: none;
        font-size: 1.2rem;

        transition: color .5s ease;

        &:hover {
            color: var(--color-principal);
        }
    }

    img {
        max-width: 150px;
    }
}

.pag_actual {
    color: var(--color-principal);
}

.logo {
    width: 20vh;
}


/*Estilos de la cabecera*/

header {
    background: var(--color-transparente), url(../images/cabecera_loto.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    border-color: var(--color-acento);
    border-style: solid;
    border-width: 2vh;
    border-top: none;

    height: 40vh; /*medidas proporcionales a la p치gina*/

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


        h1 {
            font-family: 'Tangerine', cursive;
            color: var(--color-texto);
            font-size: 10rem;
        }

        img {
            width: 50vw;
        }
    }

#cabecera_inicio {
    background: var(--color-transparente), url(../images/cabecera_loto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    height: 88vh; /*medidas proporcionales a la p치gina*/

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cab-nosotros {
    background: var(--color-transparente), url(../images/imagen_nosotros.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#cab-blog {
    background: var(--color-transparente), url(../images/imagen_blog.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#cab-contacto {
    background: var(--color-transparente), url(../images/imagen-contacto.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/*Estilos del contenido*/

main {
    min-height: 75vh;

    h2 {
        font-size: 2.5rem;
        gap: 50px;
        margin: auto;
    }

    hr {
        width: 15%;
        margin: auto;
        margin-top: 10px;
        height: 3px;
        border: none;
        background-color: var(--color-principal);
    }

    .sec-texto {
        display: flex;
        flex-direction: column;
        text-align: justify;
        text-wrap: pretty;

        .columna {
            display: flex;
            gap: 20px;
        }
    }

    .titulo {
        text-align: center;
        margin: 100px 0px 75px 0px;
    }

    .subtitulo {
        font-size: 1.2rem;
        width: 60vw;
        margin: auto;
        text-align: center;
        margin-bottom: 100px;
    }
}

.sec-blog {
    width: 75vw;
    display: flex;
    gap: 50px;
    text-align: center;
    justify-content: space-between;
    margin: auto;
}

.art-blog {
    background-color: var(--color-acento);
    display: flex;
    flex-direction: column;
    width: 30%;
    min-height: 75vh;
    box-shadow: 2px 2px 15px 1px rgba(0, 0, 0, 0.20);
    margin: auto;
    margin-bottom: 50px;

    img {
        transition: opacity .5s ease;
    }
    
    img:hover {
        opacity: 0.5;
    }

    a {
        text-decoration: none;
        display: flex;
        flex-direction: column;

        h3 {
            transition: color .5s ease;
        }

        &:hover h3 {
            color: var(--color-principal);
        }
    }


    h3 {
        font-size: 1.2rem;
    }
}

.text-blog {
    margin: auto;
    
    hr {
        margin-bottom: 60px;
    }
}

.art-nosotros {
    background-color: var(--color-acento);
    margin: 100px 0px;
    display: flex;

    border-color: var(--color-acento);
    border-style: solid;
    border-width: 2vh;   

    h2 {
        margin-top: 0px;
    }

    img {
        width: 46vw;
        transition: opacity .5s ease;
    }
    
    img:hover {
        opacity: 0.5;
    }

    a {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        transition: color .5s ease;

        &:hover h2 {
            color: var(--color-principal);
        }
    }
}

.text-nosotros {
    margin: auto 100px;

    hr {
        margin-bottom: 100px;
    }
}

#art-ajna {
    background-color: var(--color-acento);
    width: 75vw;
    margin: auto;
    display: flex;

    border-color: var(--color-acento);
    border-style: solid;
    border-width: 2vh;   

    h2 {
        margin-top: 0px;
    }

    img {
        width: 34vw;
    }

    a {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        transition: color .5s ease;

        &:hover h2 {
            color: var(--color-principal);
        }
    } 
}

#art-objetivo {
    background-color: var(--color-acento);
    margin: 100px 0px;
    display: flex;

    border-color: var(--color-acento);
    border-style: solid;
    border-width: 2vh;   

    h2 {
        margin-top: 0px;
    }

    img {
        width: 46vw;
        height: auto;
    }

    a {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        transition: color .5s ease;

        &:hover h2 {
            color: var(--color-principal);
        }
    }

}

#form-contacto {
    background-color: var(--color-acento);
    width: 75vw;
    margin: auto;
    display: flex;

    h2 {
        margin-top: 0px;
    }

    img {
        width: 20vw;
    }

    a {
        color: #445331;
        text-decoration: none;
        transition: color .5s ease;

        &:hover {
            color: var(--color-principal);
        }
    } 

    form {
        display: flex;
        margin: auto;
        flex-direction: column;
    }
}

.sec-form {
    margin: 50px auto;
    width: fit-content;
    background-color: #d3d3d3;
    padding: 50px;
    border-radius: 5px;

    h2 {
        margin: 0px 0px 20px 0px;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
}

.form-texto {
    margin: auto;
    border: none;
    border: 1px solid var(--color-principal);
    width: 40vw;
    background-color: transparent;
    padding: 5px;

    font-weight: 300;
    color: var(--color-texto);
    font-size: .9rem;

    &:focus {
        background-color: white;
    }
}

.boton-privacidad {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-weight: 300;
    color: var(--color-texto);
    font-size: .8rem;
}

.caja-tick {
    border: none;
    margin-right: 15px;
}

.btn-mandar  {
    background-color: #445331;
    color: var(--color-acento);
    border: none;
    border-radius: 5px;
    padding: 7px;
    transition: 0.5s;


    &:hover {
        background-color: var(--color-principal);
        color: #445331;
    }
}

#form-suscribir {
    background-color: var(--color-acento);
    margin: 100px 0px;
    padding: 25px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    

    border-color: var(--color-acento);
    border-style: solid;
    border-width: 2vh;   

    h2 {
        font-family: 'Tangerine', cursive;
        color: #93AB5C;
        font-size: 8rem;
    }

    a {
        color: #445331;
        text-decoration: none;
        transition: color .5s ease;

        &:hover {
            color: var(--color-principal);
        }
    } 
}

.redes-sociales {
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 25px;

    h3 {
        text-align: center;
        font-size: 1rem;
        font-weight: 300;
    }

    div {
        display: flex;
        margin: auto;
        margin-bottom: 50px;
        gap: 25px;
    }

    img {
        width: 40px;
    }
}

.priv-intro {
    background-color: var(--color-acento);
    width: 75vw;
    margin: auto;
    margin-top: 100px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 25px;

    border-color: var(--color-acento);
    border-style: solid;
    border-width: 2vh;

    ul {
        font-weight: 300;
        color: var(--color-texto);
        font-size: 1rem;
        display: flex;
        flex-direction: column;   
        padding-left: 50px; 
        gap: 10px;  
    }

    a {
        color: #445331;
        text-decoration: none;
        transition: color .5s ease;

        &:hover {
            color: var(--color-principal);
        }
    } 
}

.priv-titular {
    background-color: var(--color-acento);
    margin-top: 100px;
    padding: 50px;
    display: flex;

    border-color: var(--color-acento);
    border-style: solid;
    border-width: 2vh;

    p {
        padding: 0px 500px;
    }

    a {
        color: #445331;
        text-decoration: none;
        transition: color .5s ease;

        &:hover {
            color: var(--color-principal);
        }
    } 
}

.negrita-color {
    color: #93AB5C;
}

.volver-gracias {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  

    a {
        background-color: #445331;
        text-decoration: none;
        text-align: center;
        font-size: 3rem;
        color: var(--color-acento);
        border: none;
        border-radius: 5px;
        padding: 50px;
        transition: 0.5s;
    
    
        &:hover {
            background-color: var(--color-principal);
            color: #445331;
        }
    }
}

/*Estilos del pie de p치gina*/
footer {
    color: var(--color-texto);
    background-color: var(--color-acento);
    min-height: 5vh;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    padding-left: 35px;
    padding-right: 35px;

    div {
        display: flex;
        gap: 5vh;
    }

    p {
        font-size: 0.8rem;
    }

    a {
        color: #445331;
        text-decoration: none;
        transition: color .5s ease;

        &:hover {
            color: var(--color-principal);
        }
    } 
}


@media screen and (max-width: 600px) {
    nav {
        flex-direction: column;
        height: 22vh;
        text-align: center;
        justify-content: center;
        gap: 10px;
        padding-top: 0px;
        padding-left: 0px;

        ul {
            flex-direction: column;
            gap: 5px;
        }

        li a {
            padding: 0;
        }
    }

    .pag_actual {
        background-color: transparent;
    }

    header {
        height: 30vh;

        img {
            width: 55vw;
        }

        h1 {
            font-size: 5rem;
        }
    }

    #cabecera_inicio {
        height: 76vh;
    }

    main {
        width: 100%;
        margin: auto;

        .titulo {
            text-align: center;
            margin: 25px;
        }
    
        .subtitulo {
            font-size: 1.2rem;
            margin: auto;
            width: 90%;
            margin-bottom: 25px;
            text-align: center;
            text-wrap: balance;
        }

        p {
            text-align: left;
        }

        .sec-blog {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        
        .art-blog {
            display: flex;
            flex-direction: column;
            width: 100%;
            min-height: 50vh;
            margin-bottom: 10px;
        }

        .text-blog {
            margin: auto;
            hr {
                margin-bottom: 25px;
            }

            p {
                text-align: center;
            }
        }        

        .art-nosotros {
            display: flex;
            flex-direction: column;
            align-items: center;
            min-height: 50vh;
            margin: 25px auto;
                
            img {
                width: 92vw;
            }
        }

        .text-nosotros {
            margin: auto;
        
            hr {
                margin-bottom: 25px;
            }
        }

        #art-ajna {
            display: flex;
            flex-direction: column;
            align-items: center;
            min-height: 30vh;
        }

        #art-objetivo {
            display: flex;
            flex-direction: column;
            align-items: center;
            min-height: 50vh;
            margin: 25px auto;
                
            img {
                width: 92vw;
            }
        }

        #form-contacto {
            display: flex;
            flex-direction: column;
            align-items: center;
            min-height: 30vh;
            width: 80%;

            form {
                margin: 25px auto;
                align-items: center;
            }

            img {
                width: 80vw;
            }
        }
        
        .form-texto {
            width: 70vw;
        }

        .boton-privacidad {
            flex-direction: column;
            gap: 10px;
            margin: 10px auto;
        }

        #form-suscribir {

            margin: 25px auto;

            p {
                text-align: center;
            }
        }

        .priv-titular {
            p {
                padding: 0px;
            }
        }

        .priv-intro {
            padding: 0px;
        }
        

        .columna {
            flex-direction: column;
        }
    }   

    footer {
        flex-direction: column;
        div {
            flex-direction: column;
            gap: 0;
            text-align: center;
        }
    } 
}